body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: grey;
  font-family: "Inter", sans-serif;
  color: white;
}

p,
a,
i {
  color: black;
  font-size: 0.5em;
}

i {
  color: gray;
}

.paper {
  margin: 2em auto;
  max-width: 700px;
  background-color: white;
  height: 1000px;
}

.topDiv {
  display: flex;
}

.topDivLeft {
  background-color: #333333;
  flex: 1;
  color: white;
  padding: 0 1em;
}

.topDivRight {
  background-color: #3a798b;
  flex: 1;
  padding: 0 1em;
}

.topDivRight p {
  padding-left: 1.5em;
  color: #abd8dd;
}
